<h1>Edycja wpisu</h1>

<%= render 'form' %>

<div class="row top-buffer-20">
  <div class="col-md-12">
    <%= link_to 'Powrót do książki', journal_path(@journal), class: "btn btn-sm btn-default" %>
  </div>
</div>
