<% if @entry.is_expense %>
<h1>Nowy wydatek</h1>
<% else %>
<h1>Nowy wpływ</h1>
<% end %>

<%= render 'form' %>

<div class="row top-buffer-20">
  <div class="col-md-12">
    <%= link_to 'Powrót do książki', journal_path(@journal), class: "btn btn-sm btn-default" %>
  </div>
</div>
