<h1>Uprawnienia użytkownika w odniesieniu do jednostki</h1>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Anuluj', params[:from] == "unit" ? @user_unit_association.unit : @user_unit_association.user %>
