<h1>Edycja użytkownika</h1>

<div class="alert alert-warning" role="alert">
  Adres email powinien pochodzić z domeny <b>@zhr.pl</b> lub jej poddomen (np. <b>@malopolska.zhr.pl</b>)
</div>

<%= render 'form' %>

<%= link_to 'Anuluj', @user %> |
<%= link_to 'Lista', users_path %>
