<h1>Nowy użytkownik</h1>

<div class="alert alert-warning" role="alert">
  Każdy nowy użytkownik musi posiadać adres w domenie <b>zhr.pl</b> lub jej poddomenach (np. <b>malopolska.zhr.pl</b>)
</div>

<%= render 'form' %>

<%= link_to 'Powrót', users_path, :class => "btn btn-sm btn-default top-buffer-20" %>
