<div class="row">
  <div class="col-md-12">
    <select style="padding: 0; width:100%;" disabled>
      <option value="<%= @unit.id %>" selected='selected'><%= @unit.full_name %></option>
    </select>
  </div>
</div>