<div class="row">
  <div class="col-md-10">
    <select style="padding: 0; width:100%;" disabled>
      <option value="<%= @journal.unit.id %>" selected='selected'><%= @journal.unit.full_name %></option>
    </select>
  </div>

  <div class="col-md-2">
    <select style="padding: 0; width:100%;" disabled>
      <option value="<%= @journal.year %>" selected='selected'><%= @journal.year %></option>
    </select>
  </div>
</div>