<h1>Uprawnienia użytkownika w odniesieniu do grupy</h1>
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Anuluj', params[:from] == "group" ? @user_group_association.group : @user_group_association.user %>

