<h1>Nowa dotacja</h1>

<%= render 'form', grant: @grant %>

<div class="row">
  <div class="col-md-12">
    <div class="row top-buffer-20">
      <%= link_to 'Powrót', grants_path,  class:"btn btn-secondary" %>
    </div>
  </div>  
</div>
