<p>
  <strong>Nazwa:</strong>
  <%= @grant.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @grant.description %>
</p>

<%= link_to 'Edytuj', edit_grant_path(@grant) %> |
<%= link_to 'Powrót', grants_path %>
