/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require jquery-ui/datepicker
*/

#navbar {
    margin-top: 10px;
}

th.text-left {
  text-align: left;
}
th.text-center {
  text-align: center;
}
th.text-right {
  text-align: right;
}

th {
  text-align: left;
}

.table td.text-left {
  text-align: left;
}
.table td.text-center {
  text-align: center;
}
.table td.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}
td.text-center {
  text-align: center;
}
td.text-right {
  text-align: right;
}
