// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.odd{
  background-color:#cccccc;
}
.even{
  background-color:#ffffff;
}
*/

.hover{
  background-color:#f5f5f5;
}


/*
table { 
  border: 1px solid;
  border-collapse: collapse;
} 
th { 
  border: 1px solid;
}
td {
  border: 1px solid;
}
*/
