// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.border-top-bold {
  border-top: 3px solid #ddd;
}

.top-buffer-20 {
  margin-top:20px;
}

.top-buffer-40 {
  margin-top:40px;
}
