// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table th {
  vertical-align: middle;
}

th.text-right {
  text-align: right;
}

td.action-cell {
  text-align: center;
}

th.name-cell {
  width: 30%;
}

td.amount-cell {
  text-align: right;
}

.no-margin {
  margin-bottom: 0;
}
