<% category_label =  @category.is_expense ? "wydatku" : "wpływu" %>
<h1>Nowa kategoria <%= category_label %> dla roku <%= @category.year %></h1>

<%= render 'form' %>

<div class="row top-buffer-20">
  <div class="col-md-12">
    <%= link_to 'Wstecz', categories_path %>
  </div>
</div>