<p>Droga posiadaczko, drogi posiadaczu adresu email <%= @resource.email %>!</p>

<p>Możesz potwierdzić swój adres email klikając w poniższy link:</p>

<p><%= link_to 'Potwierdź mój adres email', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>Czuwaj!</p>

<p>Z uszanowaniem,<br/>
Zespół ZiHeR</p>
