<p>Droga posiadaczko, drogi posiadaczu adresu email <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane z powodu zbyt dużej ilości nieudanych prób logowania.</p>

<p>Użyj linka poniżej aby odblokować swoje konto:</p>

<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, :unlock_token => @token) %></p>

<p>Czuwaj!</p>

<p>Z uszanowaniem,<br/>
Zespół ZiHeR</p>
